
<div class="sidebar-wrapper " >
  <div class="logo">
    <a href="#" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="assets/img/logo-safra.png">
      </div>
    </a>
    <a href="#" class="simple-text logo-normal" >
      <span class="sidebar-title">{{username}}</span>
    </a>
  </div>
    <ul class="nav">
        <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}  sidebar-icon">
            <a [routerLink]="[menuItem.path]">
                <i class="nc-icon {{menuItem.icon}}"></i>
                <p class="sidebar-title">{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
