<div class="container" style="display: flex;justify-content: center;align-items: center;height: 100vh;">
	<div class="card login-card" >
		<div class="card-header">
			<h4 class="card-title login-title">Login</h4>
		</div>
		<div class="card-body">
			<div class="card-text">
				<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
					{{errorMessage}}
				</div>
				<form (ngSubmit)="login()" #form="ngForm">
					<div class="form-group">
						<label for="username" style="display: block;">Username</label>
						<input class="form-control" id="username" name="username" placeholder="username"
							[(ngModel)]="model.username" required />
					</div>
					<div class="form-group">
						<label for="password" style="display: block;">Password</label>
						<input type="password" class="form-control" id="password" name="password" placeholder="Password"
							[(ngModel)]="model.password" required />
					</div>
					<button type="submit" class="btn btn-info btn-round" style="float: right"
						[disabled]="!form.valid">Login</button>
				</form>
			</div>
		</div>
	</div>
</div>