/* You can add global styles to this file, and also import other style files */

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #e3e3e347 !important;
}

td:focus {
    outline: none;
    border: 2px solid #51cbce !important;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
}

[contenteditable="true"].single-line br {
    display: none;
}

[contenteditable="true"].single-line * {
    display: inline;
    white-space: nowrap;
}

table,
th,
td {
    border: 1px solid #dee2e6 !important;
}

.align-title-top {
    vertical-align: top
}


/* override table controls */

table.dataTable {
    border-collapse: collapse !important;
}

.dataTables_wrapper .dataTables_filter input {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px;
    color: #66615b;
    line-height: normal;
    font-size: 14px;
    transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    box-shadow: none;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_desc {
    background-image: none;
    font-weight: bold;
}

table .form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent !important;
}

.log-visible-false {
    display: none;
}

.log-visible-true {
    display: block;
}

.log-hidden-true {
    display: none !important;
}

.select-indice {
    width: 92% !important;
}

@media screen and (max-width: 750px) {
    .select-indice {
        width: 100% !important;
    }
}

.dt-button {
    background-color: #51bcda !important;
    color: #FFFFFF !important;
    border-width: 1px !important;
    border-radius: 30px !important;
    padding-right: 35px !important;
    padding-left: 35px !important;
    font-weight: 600 !important;
    font-size: 0.8571em !important;
    line-height: 1.35em !important;
    text-transform: uppercase !important;
    border: none !important;
    margin: 10px 1px !important;
    background-image: none !important;
}

.dt-button:hover {
    background-color: #2ba9cd !important;
    color: #FFFFFF !important;
    box-shadow: none !important;
}

div.dt-buttons {
    position: relative;
    float: right !important;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    background: #f4f3ef;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    border-radius: 6px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #9a9a9a;
}